nav {
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

        a {
            @include common-head;
            text-decoration: none;
        }
}